body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:130px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:57px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:261px;
  top:80px;
  width:158px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:78px;
  top:311px;
  width:120px;
  height:120px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u9 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:230px;
  top:207px;
  width:197px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:29px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:36px;
  top:80px;
  width:64px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:278px;
  top:311px;
  width:120px;
  height:120px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u15 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:478px;
  top:316px;
  width:120px;
  height:120px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u17 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:68px;
  top:573px;
  width:120px;
  height:120px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u19 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:268px;
  top:573px;
  width:120px;
  height:120px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u21 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:468px;
  top:578px;
  width:120px;
  height:120px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u23 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:68px;
  top:835px;
  width:120px;
  height:120px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u25 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:268px;
  top:835px;
  width:120px;
  height:120px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u27 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:468px;
  top:840px;
  width:120px;
  height:120px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u29 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:230px;
  top:1041px;
  width:197px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:29px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
