body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:130px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:57px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:250px;
  top:80px;
  width:180px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:31px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:36px;
  top:80px;
  width:64px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:840px;
  top:464px;
  width:640px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:20px;
  top:170px;
  width:640px;
  height:100px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:100px;
}
#u13 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:36px;
  top:202px;
  width:217px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:37px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:250px;
  top:202px;
  width:246px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:34px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:35px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:856px;
  top:496px;
  width:145px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:1011px;
  top:498px;
  width:205px;
  height:35px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:34px;
  color:#BCBCBC;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:35px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:40px;
  top:330px;
  width:600px;
  height:80px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:80px;
}
#u23 {
  position:absolute;
  left:2px;
  top:32px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:292px;
  top:354px;
  width:97px;
  height:33px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:36px;
  top:280px;
  width:301px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  color:#999999;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:21px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
