body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:130px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:57px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:260px;
  top:80px;
  width:160px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:34px;
  top:80px;
  width:88px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:20px;
  top:149px;
  width:640px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:434px;
  top:182px;
  width:121px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:30px;
  color:#0066FF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:114px;
  top:182px;
  width:121px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:30px;
  color:#1E1E1E;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:335px;
  top:166px;
  width:10px;
  height:70px;
}
#u16_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u16_end {
  position:absolute;
  left:-5px;
  top:53px;
  width:20px;
  height:18px;
}
#u16_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:70px;
}
#u17 {
  position:absolute;
  left:36px;
  top:259px;
  width:57px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
  color:#AEAEAE;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:36px;
  top:298px;
  width:607px;
  height:80px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:80px;
}
#u20 {
  position:absolute;
  left:2px;
  top:32px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:52px;
  top:323px;
  width:61px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:36px;
  top:403px;
  width:141px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
  color:#AEAEAE;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:29px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:36px;
  top:443px;
  width:607px;
  height:80px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:80px;
}
#u26 {
  position:absolute;
  left:2px;
  top:32px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:52px;
  top:467px;
  width:207px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:31px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:36px;
  top:546px;
  width:57px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
  color:#AEAEAE;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:36px;
  top:586px;
  width:607px;
  height:80px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:80px;
}
#u32 {
  position:absolute;
  left:2px;
  top:32px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:52px;
  top:610px;
  width:31px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:30px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:612px;
  top:611px;
  width:20px;
  height:37px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:37px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:36px;
  top:688px;
  width:85px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
  color:#AEAEAE;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:36px;
  top:728px;
  width:607px;
  height:80px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:80px;
}
#u40 {
  position:absolute;
  left:2px;
  top:32px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:52px;
  top:752px;
  width:121px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:36px;
  top:851px;
  width:57px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
  color:#AEAEAE;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:36px;
  top:891px;
  width:607px;
  height:80px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:80px;
}
#u46 {
  position:absolute;
  left:2px;
  top:32px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:52px;
  top:915px;
  width:121px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:30px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:36px;
  top:1002px;
  width:113px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
  color:#AEAEAE;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:36px;
  top:1042px;
  width:607px;
  height:80px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:80px;
}
#u52 {
  position:absolute;
  left:2px;
  top:32px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:52px;
  top:1066px;
  width:31px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:30px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:568px;
  top:468px;
  width:64px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:30px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:31px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
