body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:130px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:57px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:265px;
  top:80px;
  width:150px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:34px;
  top:80px;
  width:88px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:20px;
  top:149px;
  width:640px;
  height:150px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:150px;
}
#u11 {
  position:absolute;
  left:2px;
  top:67px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:175px;
  top:164px;
  width:465px;
  height:126px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:126px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:34px;
  top:164px;
  width:120px;
  height:120px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u15 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:316px;
  top:261px;
  width:57px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:379px;
  top:263px;
  width:23px;
  height:23px;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:552px;
  top:260px;
  width:88px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:20px;
  top:298px;
  width:640px;
  height:150px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:150px;
}
#u23 {
  position:absolute;
  left:2px;
  top:67px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:175px;
  top:313px;
  width:465px;
  height:126px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:126px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:34px;
  top:313px;
  width:120px;
  height:120px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u27 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:316px;
  top:410px;
  width:57px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:379px;
  top:412px;
  width:23px;
  height:23px;
  font-size:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:552px;
  top:409px;
  width:88px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:20px;
  top:447px;
  width:640px;
  height:150px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:150px;
}
#u35 {
  position:absolute;
  left:2px;
  top:67px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:175px;
  top:462px;
  width:465px;
  height:126px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:126px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:34px;
  top:462px;
  width:120px;
  height:120px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u39 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:316px;
  top:559px;
  width:57px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:379px;
  top:561px;
  width:23px;
  height:23px;
  font-size:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:552px;
  top:558px;
  width:88px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
