<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rolle.doctor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />
    <application
        android:name=".ui.DoctorApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:name=".ui.LoginActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name=".ui.MainActivity"   android:screenOrientation="portrait"/>
    <activity android:name=".ui.MessageActivity"   android:screenOrientation="portrait"/>
    <activity android:name=".ui.AddFriendActivity"   android:screenOrientation="portrait"/>
    <activity android:name=".ui.MyYaoqingActivity"   android:screenOrientation="portrait" />
    <activity android:name=".ui.FriendActivity"  android:screenOrientation="portrait" />
    <activity android:name=".ui.PatientActivity"  android:screenOrientation="portrait" />
    <activity android:name=".ui.PatientHActivity"  android:screenOrientation="portrait" />
    <activity android:name=".ui.TheDoctorActivity"  android:screenOrientation="portrait" />
    <activity android:name=".ui.DoctorDetialActivity" android:screenOrientation="portrait" />
    <activity android:name=".ui.RegisterOneActivity" android:screenOrientation="portrait" />
    <activity android:name=".ui.RegisterTwoActivity" android:screenOrientation="portrait" />
    <activity android:name=".ui.RegisterThreeActivity" android:screenOrientation="portrait" />
    <activity android:name=".ui.NoteActivity" android:screenOrientation="portrait" />
    <activity android:name=".ui.RetrievePwdActivity" android:screenOrientation="portrait" />
    <activity android:name=".ui.RetrievePwdSettingActivity" android:screenOrientation="portrait" />
    <activity android:name=".ui.UserInfoActivity" android:screenOrientation="portrait" />
    <activity android:name=".ui.WalletActivity" android:screenOrientation="portrait" />
    <activity android:name=".ui.WalletBillActivity" android:screenOrientation="portrait" />
    <activity android:name=".ui.WalletDetialActivity" android:screenOrientation="portrait" />
    <activity android:name=".ui.AddBlankActivity" android:screenOrientation="portrait" />
    <activity android:name=".ui.UpdatePhotoActivity" android:screenOrientation="portrait" />
    <activity android:name=".ui.RegisterChooseActivity" android:screenOrientation="portrait" />
    <activity android:name=".ui.RegisterTitleActivity" android:screenOrientation="portrait" />
    <activity android:name=".ui.RegisterInfoActivity" android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
    <activity android:name=".ui.ChooseListActivity" android:screenOrientation="portrait" />
    <meta-data android:name="UMENG_CHANNEL" android:value="${channel}"/>
</application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
</manifest>
