body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:669px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:308px;
  top:-282px;
  width:153px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
  color:#000000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:73px;
  top:-282px;
  width:88px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:581px;
  top:-282px;
  width:88px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:1136px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u7 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:130px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:130px;
}
#u9 {
  position:absolute;
  left:2px;
  top:57px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:260px;
  top:80px;
  width:160px;
  height:44px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:44px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:34px;
  top:80px;
  width:88px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
  color:#000000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:20px;
  top:180px;
  width:640px;
  height:100px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:100px;
}
#u17 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:34px;
  top:190px;
  width:80px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u19 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:138px;
  top:214px;
  width:226px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:26px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:21px;
  top:280px;
  width:640px;
  height:100px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:100px;
}
#u23 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:35px;
  top:290px;
  width:80px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u25 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:139px;
  top:314px;
  width:76px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:21px;
  top:379px;
  width:640px;
  height:100px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:100px;
}
#u29 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:35px;
  top:389px;
  width:80px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u31 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:139px;
  top:413px;
  width:126px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
