body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1447px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:130px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:57px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:50px;
  width:120px;
  height:60px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:25px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:244px;
  top:60px;
  width:152px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:546px;
  top:64px;
  width:65px;
  height:33px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:0px;
  top:240px;
  width:640px;
  height:80px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u12 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:20px;
  top:266px;
  width:144px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:29px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:590px;
  top:266px;
  width:20px;
  height:33px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:33px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:0px;
  top:319px;
  width:640px;
  height:80px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u18 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:20px;
  top:345px;
  width:71px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:29px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:590px;
  top:345px;
  width:20px;
  height:33px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:33px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:0px;
  top:398px;
  width:640px;
  height:80px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u24 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:20px;
  top:424px;
  width:85px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:590px;
  top:424px;
  width:20px;
  height:33px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:33px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:20px;
  top:488px;
  width:61px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  color:#A1A1A1;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:0px;
  top:519px;
  width:640px;
  height:151px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:151px;
}
#u32 {
  position:absolute;
  left:2px;
  top:68px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:244px;
  top:545px;
  width:47px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:29px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:20px;
  top:598px;
  width:590px;
  height:52px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:52px;
}
#u36 {
  position:absolute;
  left:2px;
  top:20px;
  width:586px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:301px;
  top:549px;
  width:74px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:20px;
  top:680px;
  width:41px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  color:#A1A1A1;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:0px;
  top:711px;
  width:640px;
  height:80px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u42 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:20px;
  top:737px;
  width:113px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:435px;
  top:737px;
  width:175px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:29px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:0px;
  top:790px;
  width:640px;
  height:80px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u48 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:20px;
  top:816px;
  width:64px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:471px;
  top:816px;
  width:139px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:29px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:0px;
  top:869px;
  width:640px;
  height:80px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u54 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:20px;
  top:895px;
  width:57px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:497px;
  top:895px;
  width:113px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:620px;
  top:284px;
  width:60px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u60 {
  position:absolute;
  left:690px;
  top:276px;
  width:365px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:29px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:620px;
  top:359px;
  width:60px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u63 {
  position:absolute;
  left:690px;
  top:351px;
  width:365px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:29px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:610px;
  top:438px;
  width:60px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u66 {
  position:absolute;
  left:680px;
  top:430px;
  width:365px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:29px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:610px;
  top:538px;
  width:60px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u69 {
  position:absolute;
  left:680px;
  top:530px;
  width:337px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:29px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:610px;
  top:665px;
  width:60px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u72 {
  position:absolute;
  left:680px;
  top:691px;
  width:113px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:610px;
  top:746px;
  width:60px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u75 {
  position:absolute;
  left:620px;
  top:823px;
  width:60px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u76 {
  position:absolute;
  left:660px;
  top:665px;
  width:10px;
  height:91px;
}
#u76_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u76_end {
  position:absolute;
  left:-5px;
  top:74px;
  width:20px;
  height:18px;
}
#u76_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:91px;
}
#u77 {
  position:absolute;
  left:690px;
  top:815px;
  width:113px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:932px;
  top:750px;
  width:113px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:932px;
  top:814px;
  width:85px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:922px;
  top:876px;
  width:113px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:844px;
  top:824px;
  width:37px;
  height:10px;
}
#u85_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_end {
  position:absolute;
  left:20px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_line {
  position:absolute;
  left:0px;
  top:5px;
  width:37px;
  height:1px;
}
#u86 {
  position:absolute;
  left:0px;
  top:161px;
  width:640px;
  height:80px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u87 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:20px;
  top:187px;
  width:29px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:590px;
  top:187px;
  width:20px;
  height:33px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:33px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:620px;
  top:199px;
  width:60px;
  height:10px;
}
#u92_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u93 {
  position:absolute;
  left:690px;
  top:191px;
  width:757px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:29px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  white-space:nowrap;
}
