body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:130px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:57px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:282px;
  top:80px;
  width:115px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:149px;
  width:640px;
  height:1007px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1007px;
}
#u9 {
  position:absolute;
  left:2px;
  top:496px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:611px;
  top:1094px;
  width:12px;
  height:16px;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  visibility:hidden;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:34px;
  top:85px;
  width:88px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
  color:#000000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:1056px;
  width:640px;
  height:100px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:100px;
}
#u15 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:34px;
  top:166px;
  width:80px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u17 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:20px;
  top:144px;
  width:640px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u19 {
  position:absolute;
  left:124px;
  top:210px;
  width:406px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:31px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:124px;
  top:166px;
  width:78px;
  height:29px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-size:28px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:572px;
  top:170px;
  width:72px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  color:#A1A1A1;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:20px;
  top:264px;
  width:640px;
  height:111px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:111px;
}
#u26 {
  position:absolute;
  left:2px;
  top:48px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:34px;
  top:280px;
  width:80px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u28 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:124px;
  top:326px;
  width:406px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:31px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:124px;
  top:280px;
  width:76px;
  height:29px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-size:28px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:29px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:508px;
  top:284px;
  width:136px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
  color:#A1A1A1;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:21px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:297px;
  top:1092px;
  width:57px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:360px;
  top:1094px;
  width:23px;
  height:23px;
  font-size:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:40px;
  top:1092px;
  width:57px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:103px;
  top:1094px;
  width:23px;
  height:16px;
  font-size:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  visibility:hidden;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:554px;
  top:1091px;
  width:57px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
