body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:1140px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1140px;
}
#u3 {
  position:absolute;
  left:2px;
  top:562px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:172px;
  top:627px;
  width:130px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:264px;
  top:120px;
  width:153px;
  height:82px;
  font-size:72px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:82px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:40px;
  top:247px;
  width:600px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:40px;
  top:346px;
  width:600px;
  height:100px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:100px;
}
#u13 {
  position:absolute;
  left:2px;
  top:42px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:50px;
  top:262px;
  width:70px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u15 {
  position:absolute;
  left:2px;
  top:28px;
  width:66px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:157px;
  top:278px;
  width:109px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:50px;
  top:362px;
  width:70px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u19 {
  position:absolute;
  left:2px;
  top:28px;
  width:66px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:157px;
  top:378px;
  width:145px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:40px;
  top:500px;
  width:600px;
  height:100px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:100px;
}
#u23 {
  position:absolute;
  left:2px;
  top:42px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:304px;
  top:532px;
  width:73px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
  color:#0066FF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:386px;
  top:627px;
  width:130px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:335px;
  top:622px;
  width:10px;
  height:40px;
}
#u28_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u28_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u28_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u29 {
  position:absolute;
  left:810px;
  top:20px;
  width:640px;
  height:1136px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u30 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:810px;
  top:20px;
  width:640px;
  height:1140px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1140px;
}
#u32 {
  position:absolute;
  left:2px;
  top:562px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:810px;
  top:20px;
  width:640px;
  height:30px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:962px;
  top:627px;
  width:130px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1054px;
  top:120px;
  width:153px;
  height:82px;
  font-size:72px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:82px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:830px;
  top:247px;
  width:600px;
  height:100px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:100px;
}
#u40 {
  position:absolute;
  left:2px;
  top:42px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:830px;
  top:346px;
  width:600px;
  height:100px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:100px;
}
#u42 {
  position:absolute;
  left:2px;
  top:42px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:840px;
  top:262px;
  width:70px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u44 {
  position:absolute;
  left:2px;
  top:28px;
  width:66px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:947px;
  top:278px;
  width:109px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:840px;
  top:362px;
  width:70px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u48 {
  position:absolute;
  left:2px;
  top:28px;
  width:66px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:947px;
  top:378px;
  width:145px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:830px;
  top:500px;
  width:600px;
  height:100px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:100px;
}
#u52 {
  position:absolute;
  left:2px;
  top:42px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:1094px;
  top:532px;
  width:73px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
  color:#0066FF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:1176px;
  top:627px;
  width:130px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1125px;
  top:622px;
  width:10px;
  height:40px;
}
#u57_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u57_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u57_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u58 {
  position:absolute;
  left:830px;
  top:178px;
  width:600px;
  height:100px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:100px;
}
#u59 {
  position:absolute;
  left:2px;
  top:42px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:936px;
  top:212px;
  width:181px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:37px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:845px;
  top:193px;
  width:65px;
  height:69px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:69px;
}
#u63 {
  position:absolute;
  left:2px;
  top:27px;
  width:61px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:680px;
  top:362px;
  width:100px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u65 {
  position:absolute;
  left:691px;
  top:295px;
  width:73px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
