body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:130px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:57px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:1068px;
  width:640px;
  height:88px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:88px;
}
#u5 {
  position:absolute;
  left:2px;
  top:36px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:49px;
  top:1098px;
  width:61px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:30px;
  color:#0066FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:510px;
  top:1098px;
  width:61px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:297px;
  top:80px;
  width:86px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:149px;
  width:640px;
  height:80px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u15 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:20px;
  top:228px;
  width:640px;
  height:120px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:120px;
}
#u17 {
  position:absolute;
  left:2px;
  top:52px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:36px;
  top:169px;
  width:40px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:86px;
  top:173px;
  width:65px;
  height:33px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:36px;
  top:244px;
  width:80px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u23 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:140px;
  top:244px;
  width:85px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:140px;
  top:290px;
  width:243px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:27px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:235px;
  top:238px;
  width:40px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:285px;
  top:246px;
  width:65px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:550px;
  top:256px;
  width:92px;
  height:22px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:20px;
  top:347px;
  width:640px;
  height:120px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:120px;
}
#u35 {
  position:absolute;
  left:2px;
  top:52px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:36px;
  top:363px;
  width:80px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u37 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:140px;
  top:363px;
  width:57px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:140px;
  top:409px;
  width:243px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:27px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:207px;
  top:357px;
  width:40px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:257px;
  top:365px;
  width:65px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:457px;
  top:375px;
  width:180px;
  height:22px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:601px;
  top:408px;
  width:30px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:264px;
  top:1098px;
  width:91px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:30px;
  color:#000000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:557px;
  top:80px;
  width:80px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:37px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:360px;
  top:251px;
  width:80px;
  height:22px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:18px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
