body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:684px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:44px;
  top:-340px;
  width:640px;
  height:130px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:130px;
}
#u1 {
  position:absolute;
  left:2px;
  top:57px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:306px;
  top:-280px;
  width:115px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:44px;
  top:-340px;
  width:640px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:584px;
  top:-284px;
  width:81px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:58px;
  top:-274px;
  width:88px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
  color:#000000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:58px;
  top:-186px;
  width:606px;
  height:66px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
  color:#A1A1A1;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:66px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:1136px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u13 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:130px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:130px;
}
#u15 {
  position:absolute;
  left:2px;
  top:57px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:282px;
  top:80px;
  width:115px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:20px;
  top:149px;
  width:640px;
  height:487px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:487px;
}
#u21 {
  position:absolute;
  left:2px;
  top:236px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:560px;
  top:75px;
  width:81px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:611px;
  top:1094px;
  width:12px;
  height:16px;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  visibility:hidden;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:34px;
  top:85px;
  width:88px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:20px;
  top:636px;
  width:640px;
  height:520px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:520px;
}
#u29 {
  position:absolute;
  left:2px;
  top:252px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:308px;
  top:850px;
  width:65px;
  height:33px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:34px;
  top:174px;
  width:606px;
  height:66px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
  color:#A1A1A1;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:66px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:34px;
  top:490px;
  width:120px;
  height:120px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u35 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:58px;
  top:513px;
  width:73px;
  height:74px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:72px;
  color:#AEAEAE;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:74px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
