body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:130px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:57px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:300px;
  top:80px;
  width:79px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:173px;
  width:640px;
  height:120px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:120px;
}
#u9 {
  position:absolute;
  left:2px;
  top:52px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:36px;
  top:193px;
  width:80px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u11 {
  position:absolute;
  left:2px;
  top:34px;
  width:76px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:133px;
  top:218px;
  width:57px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:20px;
  top:598px;
  width:640px;
  height:80px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u15 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:36px;
  top:624px;
  width:113px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:20px;
  top:678px;
  width:640px;
  height:80px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u19 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:36px;
  top:702px;
  width:113px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:20px;
  top:756px;
  width:640px;
  height:80px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u23 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:36px;
  top:782px;
  width:113px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:20px;
  top:836px;
  width:640px;
  height:80px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u27 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:36px;
  top:860px;
  width:57px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:20px;
  top:411px;
  width:640px;
  height:80px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u31 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:36px;
  top:436px;
  width:57px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:20px;
  top:520px;
  width:640px;
  height:80px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u35 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:36px;
  top:546px;
  width:113px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:20px;
  top:292px;
  width:640px;
  height:120px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:120px;
}
#u39 {
  position:absolute;
  left:2px;
  top:52px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:36px;
  top:337px;
  width:141px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:29px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:577px;
  top:322px;
  width:60px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u43 {
  position:absolute;
  left:2px;
  top:24px;
  width:56px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:353px;
  top:550px;
  width:284px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:29px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:524px;
  top:628px;
  width:113px;
  height:1px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:1px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:496px;
  top:704px;
  width:141px;
  height:1px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:1px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:524px;
  top:782px;
  width:113px;
  height:1px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:1px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:552px;
  top:862px;
  width:85px;
  height:1px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:1px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:223px;
  top:436px;
  width:414px;
  height:1px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
  color:#A1A1A1;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:1px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:36px;
  top:80px;
  width:80px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:30px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:210px;
  top:218px;
  width:88px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:28px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:552px;
  top:188px;
  width:85px;
  height:85px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u61 {
  position:absolute;
  left:2px;
  top:36px;
  width:81px;
  word-wrap:break-word;
}
