body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:130px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:57px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:299px;
  top:80px;
  width:82px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:34px;
  top:80px;
  width:88px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:36px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:20px;
  width:640px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:20px;
  top:149px;
  width:640px;
  height:130px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:130px;
}
#u11 {
  position:absolute;
  left:2px;
  top:57px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:20px;
  top:278px;
  width:640px;
  height:130px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:130px;
}
#u13 {
  position:absolute;
  left:2px;
  top:57px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:34px;
  top:164px;
  width:100px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u15 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:34px;
  top:293px;
  width:100px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u17 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:150px;
  top:329px;
  width:460px;
  height:28px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:28px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:150px;
  top:200px;
  width:310px;
  height:28px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:25px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:28px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:520px;
  top:164px;
  width:127px;
  height:15px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:520px;
  top:289px;
  width:127px;
  height:15px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
