<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roller.medicine"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"/>
	<uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" /><!-- 默认 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />  <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /><!--  基于网络的粗略的位置  -->
    <uses-permission android:name="android.permission.INTERNET" />				<!-- INTERNET -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- ================================ 以上百度地图需要权限 ================================ -->
    <!-- ==================================分享========================================================= -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 使用GPS获取用户精确定位信息 -->

    <uses-feature android:name="android.hardware.camera" />

    <!-- <uses-permission android:name="android.permission.READ_CALL_LOG" /> -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 分享需要的额外权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- read log for outgoing start -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- <uses-permission android:name="android.permission.WRITE_CONTACTS" /> -->
    <!-- record audio -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.front" />
    <!-- ========================================分享=================================================== -->
    <!-- CHAT -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- QRCODE -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 友盟 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />
    <!-- 极光 -->
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.tryhard.workpai.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 极光 -->

    <application
        android:name="com.roller.medicine.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppToolbarTheme" >
        <activity
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"

            android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HomeActivity"  android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.UpdateUserActivity" android:screenOrientation="portrait"/>
        <activity   android:name=".ui.RegisterTelActivity" android:screenOrientation="portrait"/>
        <activity   android:name=".ui.RegisterUserActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.FamilyRemoveActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.SetUpActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.MyHomeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.FamilyAddActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.FamilyUpdateActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.UserInfoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.RegisterPasswordActivity" android:screenOrientation="portrait"/>
        <activity  android:name=".ui.DoctorActivity" android:screenOrientation="portrait"/>
        <activity  android:name=".ui.PatientActivity" android:screenOrientation="portrait"/>
        <activity  android:name=".ui.DietitianActivity" android:screenOrientation="portrait"/>
        <activity  android:name=".ui.CaptureActivity" android:screenOrientation="portrait"/>
        <activity  android:name=".ui.AddFriendActivity" android:screenOrientation="portrait"/>
        <activity  android:name=".ui.HomeBloodActivity" android:screenOrientation="portrait"/>
        <activity  android:name=".ui.ClipActivity" android:screenOrientation="portrait"/>
        <activity  android:name=".ui.MessageActivity" android:screenOrientation="portrait" />
        <activity  android:name=".ui.NoteActivity" android:screenOrientation="portrait"/>
        <activity  android:name=".ui.MessageSettingActivity" android:screenOrientation="portrait"/>
        <activity  android:name=".ui.FeedbackActivity" android:screenOrientation="portrait"/>
        <activity  android:name=".ui.AboutUsActivity" android:screenOrientation="portrait"/>
        <activity  android:name=".ui.SettingActivity" android:screenOrientation="portrait"/>
        <activity  android:name=".ui.DoctorDetialActivity" android:screenOrientation="portrait"/>
        <activity  android:name=".ui.UpdateIntroActivity" android:screenOrientation="portrait"/>
        <activity  android:name=".ui.DemoActivity" android:screenOrientation="portrait"/>
        <activity  android:name=".ui.NoticeActivity" android:screenOrientation="portrait"/>
        <activity  android:name=".ui.CreateBloodActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity  android:name=".base.BaseToolbarActivity" android:screenOrientation="portrait" android:launchMode="singleTask"/>
        <activity  android:name=".ui.CommentActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"      android:theme="@style/AppThemeTransparent"/>
        <activity android:name=".ui.SeachActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"
            android:screenOrientation="portrait" android:theme="@style/AppThemeTransparent" />
        <activity
            android:name=".ui.CommentDetailActivity"
            android:windowSoftInputMode="adjustResize" android:screenOrientation="portrait"/>
        <service android:name=".service.MedicineGotyeService" />
        <service android:name="com.android.common.service.DownloadService" />
    </application>
    
</manifest>
